@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}

a {
    display: block;
    width: 720px; /* 设置容器宽度 */
    white-space: nowrap; /* 禁止文字换行 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
    text-decoration: none;
}

.table {
    --bs-table-bg: transparent;
}

td {
    color: red
}
